@model BusterBlock.Models.Customer
@{
    ViewBag.Title = "OutstandingRentalsByCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Outstanding Rentals for @Model.Name</h2>

<table id="rentals" data-id="@Model.Id"  class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Date
            </th>
            <th>
                Return
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{

    <script>
    $(document).ready(function () {
        var table = $("#rentals").DataTable({
            ajax: {
                url: "/api/rentals?id=" + table.attr("data-id"),
                dataSrc: ""
            },
            columns: [
                {
                    data: "movie.name"
                },
                {
                    data: "dateRented",
                    render: function (data) {
                        return data.substring(0, 10)
                    }
                },
                {
                    data: "dateReturned",
                    render: function (data, type, rental) {
                        if (data) {
                            return data.substring(0, 10)
                        }
                        else {
                            return "<a class = 'btn btn-success js-return-rental' data-rental-id='" + rental.id + "'>Return</a>";
                        }
                    }
                }
            ]
        });
    });

    $("#rentals").on("click", ".js-return-rental", function () {
        $.ajax({
            url: "/api/rentals/" + $(this).attr("data-rental-id"),
            method: "PUT",
            success: function () {
                location.reload();
            }
        });
    });

    </script>
}