@model BusterBlock.ViewModels.RentalByCustomerViewModel
@{
    ViewBag.Title = "RentalsByCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="header" data-id="@Model.Customer.Id" data-historical="@Model.Historical">Rentals for @Model.Customer.Name</h2>

@Html.ActionLink("Return All", "ReturnAll", new {Id = Model.Customer.Id }, new { @class = "btn btn-success mb10" })

<table id="rentals" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Date
            </th>
            <th>
                Return
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{

    <script>
        $(document).ready(function () {           

        var action = $("#header").attr("data-historical") == "True" ? "rentalHistoryByCustomer/" : "rentals/";

        $("#rentals").DataTable({
            ajax: {
                url: "/api/rentals/" + action + $("#header").attr("data-id"),
                dataSrc: ""
            },
            columns: [
                {
                    data: "movie.name",
                    render: function (data, type, rental) {
                        return "<a href='../../Movie/Edit/" + rental.movie.id + "'>" + data + "</a>";
                    }
                },
                {
                    data: "dateRented",
                    render: function (data) {
                        return data.substring(0, 10)
                    }
                },
                {
                    data: "dateReturned",
                    render: function (data, type, rental) {
                        if (data) {
                            return data.substring(0, 10)
                        }
                        else {
                            return "<a class = 'btn btn-success js-return-rental' data-rental-id='" + rental.id + "'>Return</a>";
                        }
                    }
                }
            ]
        });
    });

    $("#rentals").on("click", ".js-return-rental", function () {
        $.ajax({
            url: "/api/rentals/" + $(this).attr("data-rental-id"),
            method: "PUT",
            success: function () {
                location.reload();
            }
        });
    });

    </script>
}